:root [data-theme="dark"] {
  --container-color: #121212;
  --content-color: #d4d5d7;
  --container-alt-color: #b3b3b3;
  --blue-color: #7756fd;
}

:root [data-theme="light"] {
  --container-color: #d4d5d7;
  --content-color: #121212;
  --container-alt-color: #b3b3b3;
  --blue-color: #7756fd;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-transform: lowercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
}

* ::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--container-color);
  font-family: "Inter", sans-serif;
  color: var(--content-color);
}

header {
  position: relative;
  top: 0;
  width: 100%;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header nav h1 {
  cursor: pointer;
}

header nav h1 a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 800;
  color: var(--content-color);
}

header nav h1:active a {
  color: var(--blue-color);
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: var(--content-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

header nav ul li a i {
  font-size: 1.2rem;
}

header nav ul li a:active {
  color: var(--blue-color);
}

main {
  position: relative;
  width: 100%;
  padding: 2rem;
}

main .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 1rem;
}

main .section .title {
  font-size: 1.2rem;
  font-size: 700;
  color: var(--blue-color);
}

main .section .swiper {
  width: 100%;
  height: 18rem;
}

main .section .swiper .card {
  border-radius: 8px;
  width: 50%;
  border: none;
  outline: none;
  cursor: pointer;
}

main .section .swiper .card .card_img {
  border: none;
  width: 100%;
  height: 9rem;
}

main .section .swiper .card .card_img img {
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

main .section .swiper .card .card_bg {
  width: 100%;
  padding: 0.7rem 0.5rem;
  background-color: var(--content-color);
  border-radius: 0 0 8px 8px;
}

main .section .swiper .card .card_bg h2 {
  color: var(--container-color);
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}

main .section .swiper .card .card_bg h3 {
  color: var(--container-color);
  font-size: 0.6rem;
  opacity: 0.8;
}

main .section .swiper .card:active {
  opacity: 0.5;
}

main .sms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-column-gap: 0.5rem;
  column-gap: 0.5rem;
  margin-top: 2rem;
}

main .sms .sm {
  cursor: pointer;
}

main .sms .sm a img {
  border: 1px solid var(--content-color);
  border-radius: 50px;
}

main .sms .sm:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

main .sms .sm:active {
  opacity: 0.5;
}

@media only screen and (min-width: 250px) {
  main .section .swiper {
    height: 13rem;
  }
}

@media only screen and (min-width: 320px) {
  main .section .swiper {
    height: 15rem;
  }
}

@media only screen and (min-width: 400px) {
  main .section .swiper {
    height: 18rem;
  }
}

@media only screen and (min-width: 500px) {
  main .section .swiper {
    height: 14rem;
  }
}

@media only screen and (min-width: 600px) {
  main .section .swiper {
    height: 15rem;
  }
}

@media only screen and (min-width: 800px) {
  main .section .swiper {
    height: 14rem;
  }
}

@media only screen and (min-width: 1000px) {
  main .section .swiper {
    height: 18rem;
  }
}

@media only screen and (min-width: 1400px) {
  main .section .swiper {
    height: 20rem;
  }
}
/*# sourceMappingURL=project.css.map */
