// caution: because of attribute uses the use of scss has prohibited.

// $container-color: #121212;
// $content-color: #d4d5d7;
// $container-alt-color: #b3b3b3;
// $blue-color: #7756fd;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: lowercase;
  user-select: none;
  text-decoration: none;
  ::-webkit-scrollbar {
    display: none;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $container-color;
  font-family: "Inter", sans-serif;
  color: $content-color;
}

header {
  position: relative;
  top: 0;
  width: 100%;
  padding: 1rem 2rem;
  margin-bottom: 1rem;

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    user-select: none;

    h1 {
      cursor: pointer;

      a {
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 800;
        color: $content-color;
      }

      &:active {
        a {
          color: $blue-color;
        }
      }
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;

      li {
        a {
          text-decoration: none;
          color: $content-color;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          i {
            font-size: 1.2rem;
          }

          &:active {
            color: $blue-color;
          }
        }
      }
    }
  }
}

main {
  position: relative;
  width: 100%;
  padding: 2rem;

  .section {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    .title {
      font-size: 1.2rem;
      font-size: 700;
      color: $blue-color;
    }

    .swiper {
      width: 100%;
      height: 18rem;

      .card {
        border-radius: 8px;
        width: 50%;
        border: none;
        outline: none;
        cursor: pointer;

        .card_img {
          border: none;
          width: 100%;
          height: 9rem;

          img {
            border-radius: 8px 8px 0 0;

            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .card_bg {
          width: 100%;
          padding: 0.7rem 0.5rem;
          background-color: $content-color;
          border-radius: 0 0 8px 8px;

          h2 {
            color: $container-color;
            font-size: 0.9rem;
            margin-bottom: 0.2rem;
          }

          h3 {
            color: $container-color;
            font-size: 0.6rem;
            opacity: 0.8;
          }
        }

        &:active {
          opacity: 0.5;
        }
      }
    }
  }

  .sms {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    margin-top: 2rem;

    .sm {
      cursor: pointer;

      &:hover {
        transform: translateY(-5px);
      }

      &:active {
        opacity: 0.5;
      }
    }
  }
}

@media only screen and (min-width: 250px) {
  main {
    .section {
      .swiper {
        height: 13rem;
      }
    }
  }
}

@media only screen and (min-width: 320px) {
  main {
    .section {
      .swiper {
        height: 15rem;
      }
    }
  }
}

@media only screen and (min-width: 400px) {
  main {
    .section {
      .swiper {
        height: 18rem;
      }
    }
  }
}

@media only screen and (min-width: 500px) {
  main {
    .section {
      .swiper {
        height: 14rem;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  main {
    .section {
      .swiper {
        height: 15rem;
      }
    }
  }
}

@media only screen and (min-width: 800px) {
  main {
    .section {
      .swiper {
        height: 14rem;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  main {
    .section {
      .swiper {
        height: 18rem;
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
  main {
    .section {
      .swiper {
        height: 20rem;
      }
    }
  }
}
