// caution: because of attribute uses the use of scss has prohibited.

// $container-color: #121212;
// $content-color: #d4d5d7;
// $container-alt-color: #b3b3b3;
// $blue-color: #7756fd;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: lowercase;
  user-select: none;
  text-decoration: none;
  ::-webkit-scrollbar {
    display: none;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $container-color;
  font-family: "Inter", sans-serif;
  color: $content-color;
}

header {
  position: relative;
  top: 0;
  width: 100%;
  padding: 1rem 2rem;
  margin-bottom: 1rem;

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    user-select: none;

    h1 {
      font-size: 1.2rem;
      font-weight: 800;
      cursor: pointer;

      &:active {
        color: $blue-color;
      }
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;

      li {
        a {
          text-decoration: none;
          color: $content-color;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          i {
            font-size: 1.2rem;
          }

          &:active {
            color: $blue-color;
          }
        }
      }
    }
  }
}

main {
  position: relative;
  width: 100%;
  padding: 2rem;

  .main_content {
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;

    h2 {
      color: $blue-color;
      font-size: 1.5rem;
      font-weight: 800;
      margin-bottom: 0.5rem;
    }

    h1 {
      font-size: 2rem;
      font-weight: 800;
      .name {
        font-size: 3rem;
        color: $blue-color;
      }
    }
    .name {
      font-size: 2.5rem;
    }

    h4 {
      font-size: 0.9rem;
      font-weight: 500;
      opacity: 0.5;
      margin-bottom: 1rem;
    }

    h3 {
      font-size: 1rem;
      font-weight: 500;
      line-height: 150%;
      text-align: left;
      margin-bottom: 2rem;
    }
  }

  .btn {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2rem;

    button {
      cursor: pointer;
      background-color: $blue-color;
      border-radius: 8px;
      border: none;
      outline: none;
      padding: 0.5rem 1rem;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        color: $content-color;
        font-size: 1rem;
        font-weight: 800;
        text-decoration: none;
      }

      &:active {
        background-color: $content-color;

        a {
          color: $blue-color;
        }
      }
    }
  }

  .recent_work {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    cursor: pointer;

    .card {
      border-radius: 8px;

      width: 100%;
      height: 100%;

      border: none;
      outline: none;

      img {
        border: none;
        width: 100%;
        height: 10rem;
        top: 0;
        border-radius: 8px 8px 0 0;
        object-fit: cover;
      }

      .card_bg {
        width: 100%;
        padding: 0.7rem 0.5rem;
        background-color: $content-color;
        border-radius: 0 0 8px 8px;

        h2 {
          color: $container-color;
          font-size: 0.9rem;
          margin-bottom: 0.2rem;
        }

        h3 {
          color: $container-color;
          font-size: 0.7rem;
          opacity: 0.8;
        }
      }
    }

    h4 {
      font-size: 0.5rem;
      font-weight: 500;
      color: $content-color;
      opacity: 0.5;
      text-align: right;
      margin: 0.5rem 0;
    }

    &:active {
      opacity: 0.5;
    }
  }

  .sms {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    margin-top: 1rem;

    .sm {
      cursor: pointer;

      &:hover {
        transform: translateY(-5px);
      }

      &:active {
        opacity: 0.5;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  main {
    .recent_work {
      width: 50%;
    }
  }
}

@media only screen and (min-width: 900px) {
  main {
    .recent_work {
      width: 40%;
    }
  }
}
