/* FontAnimation.module.css */

.font::before {
content: '';
position: absolute;
right: 120%;
width: 50%;
height: 100%;
background: linear-gradient(90deg, transparent 0%, #000 5%, #000 100%);
animation: fading 10s linear forwards;
}




@keyframes fading {
    0% {
        right: -20%
    }
    50% {
        right: 120%
    }
    100% {
        right: -20%
    }
  }